---
BasedOnStyle: google
IndentWidth: 4
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: true
SeparateDefinitionBlocks: Always
PointerAlignment: Left
IndentAccessModifiers: false
AccessModifierOffset: -4